<{_element}div{/} id="{$_id}" class="{_ui}ui{/} {$class} {_class}{/}" style="{$style}" {$attributes}>
| {crumbs}
a.section(href="{$link}") {$label}
span.divider {$divider}
| {/}
| {$Content}
</{_element}div{/}>
